@font-face {
      font-family: Bebas-Neue-bold;
      src: url('./bebas_neue/BebasNeue Bold.otf')format("opentype");
}

@font-face {
      font-family: Bebas-Neue-light;
      src: url('./bebas_neue/BebasNeue Light.otf')format("opentype");

}

@font-face {
      font-family: Bebas-Neue-thin;
      src: url('./bebas_neue/BebasNeue Thin.otf')format("opentype");
}

body, html {
      height: 100%;
}

.container {
      width: 100%;
      /*code taken from https://css-tricks.com/ */
      background: url('./slideshow-images/amsterdam-1.jpg') no-repeat center center fixed;
      /*image from http://www.petercousens.com/ */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      align-items: center;
      margin-bottom: 0;
      min-height: 100%;
      height: auto !important;
      height: 100%;
}

/* Mobile header */

.mobile-header {
      font-family: Bebas-Neue-bold;
      color: #ff572e;
      text-align: center;
}

.mobile-header h1 {
      font-size: 60px;
}


p {
      font-family: Bebas-Neue-bold;
      font-size: 80px;
      color: #ff572e;
      text-align: center;
}

button {
      font-family: Bebas-Neue-light;
      background-color: #a7ce98;
      text-decoration: none;
      border: none;
      padding: 7px;
      margin-bottom: 15px;
      font-size: 30px;
      color: white;
      margin-right: 0;
      width: 100%;
      transition: all .2s ease-in-out;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      opacity: 0.95;
}

button:focus {
      outline: 0;
      background-color: #ff572e;

}

button:hover {
      background-color: #ff572e;

}

div#map {
      min-height: 400px;
      max-width: 100%;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;

}

#bg-img-slideshow {
      height: 100vh;
      width: 100%;
      /*code taken from https://css-tricks.com/ */
      background: url('./slideshow-images/amsterdam-2.jpg') no-repeat center center fixed;
      /*image from http://www.petercousens.com/ */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      align-items: center;

}

div.key {
      background-color: #a7ce98;
      width: 100%;
      opacity: 0.95;
      display: none;
      padding: 10px;
      margin-top: 20px;
}

.key h1 {
      text-align: center;
      color: #ff572e;
      font-family: Bebas-Neue-bold;
}

.key p {
      font-size: 30px;
      display: inline-block;
      font-family: Bebas-Neue-light;
      color: #fff;
      letter-spacing: 2px;
}

.key-styles {
      margin-bottom: 7px;
      margin-left: -7px;
}

/* media queries */
@media(min-width: 768px) {
      button {
            width: 50%;
      }
}
@media(min-width: 992px) {
      .container {
            display: flex;
            flex-direction: column;
      }
      
      .button-row {
            width: 100%;
      }
       button {
            width: 100%;
      }
      
      .map-row {
            width: 100%;
            flex: 1 0 auto;
      }
      
      #map {
            height: 700px;
            width: 100%;
            margin-top: 50px;
            border-radius: 10px;
      }
      
      .row-key {
            width: 100%;
            flex-shrink: 0;
      }
      
      div.key {
            margin-bottom: 15px;
      }
      
      .key-styles {
            margin-left: 0;
      }
}

